.styleCard {
    width: 250px;
    height: 250px;
    background-color: rgb(255, 67, 67);
    border: 1px solid #ffffff;
}

.form-square {
    border: 1px solid darkgrey;
    margin: 30px 35% 0 35%;
    padding: 35px 50px 50px 20px;
}

.input-form {
    margin-bottom: 25px;
    margin-left: 10px;
    width: 100%;
    border-radius: 5px;
}

.form-text {
    font-size: 28px;
    font-weight: bold;
    padding-left: 60px;
    padding-bottom: 15px;
}

.button-form {
    width: 60%;
    margin-left: 90px;
}

.squares {
    margin: 50px 10px 0 100px;
    display: flex;
}